<header>
    <div class="title-container">
        <h1 class="header-title">Team Lime</h1>
    </div>
</header>
<main>
    <section class="participants-section">
        <h2 class="participants-title">This is us. Three cats in a big trouble.</h2>
        <article class="participant-article">
            <img src="../../../assets/images/about-us/cat_Vlad.jpg" alt="vlad.jpg" class="participant-image">
            <h2 class="participant-name">Vladi</h2>
            <p class="participant-title">
                The procrastinator.
            </p>
            <p class="participant-info">
                Although the youngest cat in his team, Cat Vladi is not to be underestimated.
                His hobbies include lazing around and playing Counter Cat on his computer.
            </p>
        </article>
        <article class="participant-article">
            <img src="../../../assets/images/about-us/cat_Desi.jpg" alt="desi.jpg" class="participant-image">
            <h2 class="participant-name">Desi</h2>
            <p class="participant-title">
                There always has to be a woman in the team.
            </p>
            <p class="participant-info">
                In the man-driven society that is the Cat industry, Cat Desi is like a shining
                beacon. She loves cats, dogs and all animals. But mostly cats.
            </p>
        </article>
        <article class="participant-article">
            <img src="../../../assets/images/about-us/cat_Grigor.jpg" alt="grigor.jpg" class="participant-image">
            <h2 class="participant-name">Grigor</h2>
            <p class="participant-title">
                The dark lord.
            </p>
            <p class="participant-info">
                Cat Grigor is a sneaky cat. He likes to hide in the shadows and stalk his prey.
                His super powers include Invisibility, Backstab and Play Dead.
            </p>
        </article>
    </section>
</main>