<header>
  <div class="title-container">
    <h1 class="header-title">Cat Quiz!</h1>
    <h2 class="header-subtitle">What kind of cat are you?</h2>
  </div>
</header>
<main>
  <form id="cat-type-form">
    <div class="form-question-container">
      <div class="form-answer-container">
        <h2 class="question-title">Do you like cats?</h2>
        <input class="form-question-radio" id="answer-1-1" type="radio" value="Yes!">
        <label class="form-question-button" for="answer-1-1">Yes!</label>
        <input class="form-question-radio" id="answer-1-2" type="radio" value="No!">
        <label class="form-question-button" for="answer-1-2">No!</label>
        <input class="form-question-radio" id="answer-1-3" type="radio" value="Maybe?">
        <label class="form-question-button" for="answer-1-3">Maybe?</label>
      </div>
    </div>
    <div class="form-question-container">
      <div class="form-answer-container">
        <h2 class="question-title">What's your personality like?</h2>
        <input class="form-question-radio" id="answer-2-1" type="radio" value="Shy">
        <label class="form-question-button" for="answer-2-1">Shy</label>
        <input class="form-question-radio" id="answer-2-2" type="radio" value="Energetic!">
        <label class="form-question-button" for="answer-2-2">Energetic!</label>
        <input class="form-question-radio" id="answer-2-3" type="radio" value="Why am I doing this?">
        <label class="form-question-button" for="answer-2-3">Why am I doing this?</label>
      </div>
    </div>
    <div class="form-question-container">
      <div class="form-answer-container">
        <h2 class="question-title">Do you like dogs?</h2>
        <input class="form-question-radio" id="answer-3-1" type="radio" value="No!">
        <label class="form-question-button" for="answer-3-1">No!</label>
        <input class="form-question-radio" id="answer-3-2" type="radio" value="No!">
        <label class="form-question-button" for="answer-3-2">No!</label>
        <input class="form-question-radio" id="answer-3-3" type="radio" value="Wait, there's only No's?">
        <label class="form-question-button" for="answer-3-3">Wait, there's only No's?</label>
      </div>
    </div>
    <div class="form-question-container">
      <div class="form-answer-container">
        <h2 class="question-title">Do you like other people?</h2>
        <input class="form-question-radio" id="answer-4-1" type="radio" value="Only if they like cats!">
        <label class="form-question-button" for="answer-4-1">Only if they like cats!</label>
        <input class="form-question-radio" id="answer-4-2" type="radio" value="No!">
        <label class="form-question-button" for="answer-4-2">No!</label>
        <input class="form-question-radio" id="answer-4-3" type="radio" value="Umm, sure?">
        <label class="form-question-button" for="answer-4-3">Umm, sure?</label>
      </div>
    </div>
    <div class="form-question-container">
      <div class="form-answer-container">
        <h2 class="question-title">What's your favourite food?</h2>
        <input class="form-question-radio" id="answer-5-1" type="radio" value="Cat food!">
        <label class="form-question-button" for="answer-5-1">Cat food!</label>
        <input class="form-question-radio" id="answer-5-2" type="radio" value="Pizza!">
        <label class="form-question-button" for="answer-5-2">Pizza!</label>
        <input class="form-question-radio" id="answer-5-3" type="radio" value="What? Cat food!?">
        <label class="form-question-button" for="answer-5-3">What? Cat food!?</label>
      </div>
    </div>
    <div class="form-question-container">
      <div class="form-answer-container">
        <h2 class="question-title">Do you like cats?</h2>
        <input class="form-question-radio" id="answer-6-1" type="radio" value="Yes!">
        <label class="form-question-button" for="answer-6-1">Yes!</label>
        <input class="form-question-radio" id="answer-6-2" type="radio" value="Yes!">
        <label class="form-question-button" for="answer-6-2">Yes!</label>
        <input class="form-question-radio" id="answer-6-3" type="radio" value="You already asked me this!">
        <label class="form-question-button" for="answer-6-3">You already asked me this!</label>
      </div>
    </div>
    <div class="result-btn-container" (click)="showFormResult()">
      <button class="result-btn" type="button">Result!</button>
    </div>

    <div class="form-result" #formResult>
      <div class="result-background-container">
        <div class="result-title-container">
          <span class="result-anticipation">Your inner Cat is...</span>
          <h1 class="result-title">British Shorthair!</h1>
        </div>
        <div class="result-bottom" >
          <p class="result-info">
            You are a noble. The house is your castle, the garden your kingdom. Servants (humans) care for you on every step and your
            meow is the law. Like all cats, you like to chase yarn and lasers.
          </p>
          <div class="accept-btn-container" (click)="hideFormResult()">
            <button type="button" class="accept-btn">Got it!</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</main>