<div id="register-background">
  <div id="register-container">
    <div id="register-title-container">
      <h1 id="register-title">Register:</h1>
    </div>
    <div id="register-content">
      <div id="input-container">
        <label for="email">Email: </label>
        <input type="text" name="email">
      </div>
      <div id="input-container">
        <label for="username">Username: </label>
        <input type="text" name="username">
      </div>
      <div id="input-container">
        <label for="password">Password: </label>
        <input type="text" name="password">
      </div>
    </div>
  </div>
</div>