<nav #navigation>
  <div id="nav-wrapper">
    <div id="logo-wrapper">
      <a routerLink="/home" id="logo-link" (click)="closeMenu()">
        <img src="../../../assets/images/cat-logo.png" alt="cat-logo.png" id="nav-logo">
      </a>
    </div>
    <div id="nav-icon-wrapper" (click)="toggleMenu()">
      <i class="icon fa fa-bars fa-3x" id="nav-icon"></i>
    </div>
    <ul class="nav-list" #navList>
      <li class="nav-item" id="home-item">
        <a class="nav-item-link" id="home-link" #homeLink (click)="toggleSubMenu()">
          <i class="fa fa-angle-down home-icon" #homeIcon aria-hidden="true"></i>
          Home
        </a>
        <ul class="nav-sublist" #navSublist>
          <li class="nav-subitem">
            <a href="https://softuni.bg/faq" class="nav-subitem-link">Frequently Asked Questions</a>
          </li>
          <li class="nav-subitem">
            <a href="https://softuni.bg/forum" class="nav-subitem-link">Forum</a>
          </li>
          <li class="nav-subitem">
            <a href="https://softuni.bg/trainings/courses" class="nav-subitem-link">Path of the Cat</a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a routerLink="/quiz" class="nav-item-link" (click)="closeMenu()">Cat Quiz</a>
      </li>
      <li class="nav-item">
        <a routerLink="/about" class="nav-item-link" (click)="closeMenu()">About Us</a>
      </li>
    </ul>
  </div>
</nav>