<div id="login-background">
  <div id="login-container">
    <div id="login-title-container">
      <h1 id="login-title">Login:</h1>
    </div>
    <div id="login-content">
      <div id="input-container">
        <label for="email">Email: </label>
        <input type="text" name="email">
      </div>
      <div id="input-container">
        <label for="username">Username: </label>
        <input type="text" name="username">
      </div>
      <div id="input-container">
        <label for="password">Password: </label>
        <input type="text" name="password">
      </div>
    </div>
  </div>
</div>