/* For small screens, tablets and smartphones */

@media screen and (max-width: 736px) {

  /* FORM RESULT */
  .form-result {
    width: auto;
    height: auto;
    margin: 0 auto;
    left: 10%;
    right: 10%;
    top: 15%;
    bottom: 5%;
  }
  .result-background-container {
    background: url("../../../../assets/images/cat-quiz/british-shorthair-mobile.jpg") no-repeat center;
    background-size: cover;
  }
  .result-info {
    font-size: 1.3em;
  }
}