/* FOOTER */

footer {
  background: #333;
  overflow: auto;
  color: #fff;
}

.footer-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

#copyright {
  display: inline-block;
  line-height: 70px;
  text-transform: uppercase;
  margin-left: 20px;
  font-size: 1.7em;
}

#copyright::before {
  content: '\00a9';
  margin-right: 10px;
}

.footer-list {
  margin-right: 10px;
  float: right;
}

.footer-list-item {
  margin: 10px;
  list-style-type: none;
  display: inline-block;
}

.footer-item-link {
  width: 49px;
  display: block;
}

.social-media-icon {
  width: 49px;
  height: 49px;
  border-radius: 10px;
  transition: all .4s;
}

#facebook-icon {
  background: url("../../../../assets/images/footer-sprites.jpg") 0 50px;
}

#facebook-icon:hover {
  background: url("../../../../assets/images/footer-sprites.jpg") 0 0;
}

#twitter-icon {
  background: url("../../../../assets/images/footer-sprites.jpg") 300px 50px;
}

#twitter-icon:hover {
  background: url("../../../../assets/images/footer-sprites.jpg") 300px 0;
}

#linkedin-icon {
  background: url("../../../../assets/images/footer-sprites.jpg") 150px 50px;
}

#linkedin-icon:hover {
  background: url("../../../../assets/images/footer-sprites.jpg") 150px 0;
}

#tumblr-icon {
  background: url("../../../../assets/images/footer-sprites.jpg") 100px 50px;
}

#tumblr-icon:hover {
  background: url("../../../../assets/images/footer-sprites.jpg") 100px 0;
}

#google-icon {
  background: url("../../../../assets/images/footer-sprites.jpg") 50px 50px;
}

#google-icon:hover {
  background: url("../../../../assets/images/footer-sprites.jpg") 50px 0;
}
