/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/css?family=Abel);
@import url(https://fonts.googleapis.com/css?family=Ewert);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

* {
  margin: 0;
  padding: 0;
}

body {
    font-size: 14px;
    font-family: 'Abel', sans-serif;
}

::selection {
    background: #000000;
    color: #ffffff;
    text-shadow: none;
}

/* Blurriness gets removed from images */
img {
    transform: translateZ(0);
}