<header>
  <div class="header-title-container">
    <h1 class="header-title">CatUni</h1>
    <h2 class="header-subtitle">a university made by cat lovers, for cat lovers</h2>
  </div>
</header>
<main>
  <section class="mission-section">
    <div class="mission-article-wrapper">
      <div class="mission-container">
        <div class="mission-image-container">
          <img src="../../assets/images/home-page/cat-watching-mac.jpg" alt="cat-image.png" class="mission-image">
        </div>
        <p class="mission-paragraph">
          Cats are worshipped on the web. They are everywhere online... as photos shared by friends, on social networking sites, as
          cute pictures on
          <a href="https://www.reddit.com/" class="reddit">Reddit</a>, on any of the cat-centered
          <a href="https://www.tumblr.com/" class="tumblr">Tumblr</a> sites, and even here on
          <a href="#" class="catuni">CatUni</a>.
        </p>
      </div>
      <div class="mission-container">
        <div class="mission-image-container">
          <img src="../../assets/images/home-page/cat-high-quality.jpg" alt="cat-image.png" class="mission-image">
        </div>
        <p class="mission-paragraph">
          But nowadays people seem to have forgotten the beauty of our feline friends. Gone are the days of infinitely browsing cat
          videos on youtube, and soon we might lose interest in them completely.
        </p>
      </div>
    </div>
    <article class="catuni-mission-article">
      <div class="catuni-mission-container">
        <h2 class="catuni-mission-title">
          CatUni aims to prevent this disaster, and has set its goal to revive the Cat Cult
        </h2>
      </div>
    </article>
  </section>
  <section class="services-section">
    <h2 class="services-section-title">our services</h2>
    <article class="services-article">
      <div class="services-info-container">
        <h2 class="services-title">Unlimited Cat Videos</h2>
        <p class="services-info">
          Ever wanted to watch a dozen videos of cats before finding out you need to pay for them? No more! Catuni delivers free cat
          content without costing a penny!
        </p>
        <a href="#" class="read-more" onclick="return false;">Read More</a>
      </div>
    </article>
    <article class="services-article">
      <div class="services-info-container">
        <h2 class="services-title">Live Cat Play Sessions</h2>
        <p class="services-info">
          We organise play sessions with cats every week at 14:30 PM. All you need to do is find your local Catuni university and book
          an appointment!
        </p>
        <a href="#" class="read-more" onclick="return false;">Read More</a>
      </div>
    </article>
    <article class="services-article">
      <div class="services-info-container">
        <h2 class="services-title">Free Cat Givaways</h2>
        <p class="services-info">
          Do you feel lonely at home? No one to play with? Fear not, for Catuni organises monthly cat givaways! From Persian cats to
          Bengal tigers, you can get one for free if you apply for Catuni!
        </p>
        <a href="#" class="read-more" onclick="return false;">Read More</a>
      </div>
    </article>
    <article class="services-article">
      <div class="services-info-container">
        <h2 class="services-title">Cat Quizzes with Prises</h2>
        <p class="services-info">
          Feel the thrill and test your cat knowledge to the limits with our specialised cat quizzes! Do you feel like you know everything
          about cats?
        </p>
        <a href="#" class="read-more" onclick="return false;">Read More</a>
      </div>
    </article>
    <article class="services-article">
      <div class="services-info-container">
        <h2 class="services-title">Cat Buddie Meet-ups</h2>
        <p class="services-info">
          Don't walk a lonely road! Meet other cat enthusiasts on your cat journey with only a click! Catuni now supports 5000 dedicated
          members and is still growing!
        </p>
        <a href="#" class="read-more" onclick="return false;">Read More</a>
      </div>
    </article>
    <article class="services-article">
      <div class="services-info-container">
        <h2 class="services-title">Job Offerings for the Best</h2>
        <p class="services-info">
          Ever wanted to get paid for working with cats? Say no more! Catuni offers its best students to highly sought-after companies,
          giving appreciative jobs to those in need and working hand to its clients!
        </p>
        <a href="#" class="read-more" onclick="return false;">Read More</a>
      </div>
    </article>
  </section>
  <section class="testimonials-section">
    <div class="testimonials-container">
      <div class="testimonials-wrapper">
        <div class="quote-container">
          <p class="testimonials-quote">Cat is Love, Cat is Life.</p>
          <div class="author testimonials-author">Cat cultist</div>
        </div>
      </div>
    </div>
  </section>
  <section class="apply-section">
    <div class="apply-container">
      <div class="apply-info-container">
        <h2 class="apply-title">
          What are you waiting for?
        </h2>
        <div class="button-container">
          <a href="https://softuni.bg/apply" class="apply-link">Apply Now!</a>
        </div>
      </div>
      <img src="../../assets/images/home-page/grumpy-cat-apply.png" alt="apply-now-cat.png" class="apply-image">
    </div>
  </section>
</main>